logs
project/project
project/target
target
tmp
.history
public/version.json
/public/version.json
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
**/.DS_Store
**/*.orig
config.properties
